.spinnerClass{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #e7e7e6;
    border: 0;
    .spinnerText{
        font-size: 2rem;
    }
    .spinnerEffect{
        margin: auto;
    }
}